*{
    margin: 0;
    font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}

.container{
    width: 100%;
    height: 404px;
}
.slider-image{
    width: 100%;
}



*{
    margin: 0px;
    padding: 0;
    font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}
    
/* HEADER */
.header{
    display:inline-flex;
    width: 100%;
    height: 60px;
    box-shadow:0 5px 10px  grey;


    position: fixed;
    right: 0;
    left: 0;
    z-index: 10;

    background-color: #ffff;
}
.logo{
    
    display:inline-flex;
    width: 120px;
    height: 50px;
   
}
.Tab{
 
    justify-content: center;
    align-items: center;
    display:inline-flex;
    width: 90px;
    height: 50px;
 
}
.Tab a{
    font-size: 13px;
    letter-spacing: .3px;
    color: #282c3f;
    border-bottom: none;
    font-weight: 700;
    text-decoration: none;
}
.Search{
    display:inline-flex;
    align-items: center;
    justify-content: center;
   
    margin-left: 40px;
    width: 450px;
    height: 50px;
    border: 10px,blue solid;
    margin-right: 45px;
}
.action{
    display:inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 90px;
    height: 50px;
    font-size:x-small; 
    text-decoration: none;
    letter-spacing: 0px;
    letter-spacing: .3px;
    color: #282c3f;
    font-weight: 500;
}

.desktop-searchBar{
    display: inline-flex;
    font-size: 14px;
    width: 480px;
    height: 20px;
    line-height: 24px;
    color: #696e79;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    padding: 8px 10px 10px;
    margin: 0;
    outline: 0;
    border: 1px solid #f5f5f6;
    border-radius: 0 4px 4px 0;
    border-left: 0;
    background: #f5f5f6;
}